{% extends "teacher_dashboard/index.html" %}

{% block title %} Exams {% endblock title %}

{% block header %}
    {% include "teacher_dashboard/header.html" %}
{% endblock header %}

{% block sidenav %}
    {% include "teacher_exams/sidenav.html" %}
{% endblock sidenav %}

{% block main %}
    <h1>Exam Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock main %}

{% block footer %}
    {% include "teacher_dashboard/footer.html" %}
{% endblock footer %}
