{% extends "teacher_dashboard/index.html" %}

{% block title %} Assign Exam to Class {% endblock title %}

{% block header %}
    {% include "teacher_dashboard/header.html" %}
{% endblock header %}

{% block sidenav %}
    {% include "teacher_exams/sidenav.html" %}
{% endblock sidenav %}

{% block main %}
  <h1>Assign Exam to Class</h1>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="class_id">Class</label>
      <select name="class_id" id="class_id">
        {% for class in classes %}
          <option value="{{ class.class_id }}">{{ class.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="exam_id">Exam</label>
      <select name="exam_id" id="exam_id">
        {% for exam in exams %}
          <option value="{{ exam.exam_id }}">{{ exam.name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit">Assign</button>
  </form>
  <a href="{% url 'teacher_exam_list' teacher.pk %}">Back to Exam List</a>
{% endblock main %}

{% block footer %}
    {% include "teacher_dashboard/footer.html" %}
{% endblock footer %}
