{% extends "dashboard/index.html" %}

{% block title %} Select Course {% endblock title %}

{% block header %}
    {% include "dashboard/header.html" %}
{% endblock header %}

{% block sidenav %}
    {% include "teachers/sidenav.html" %}
{% endblock sidenav %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <h1>Assign Course to {{ teacher.name }} for Class {{ class.name }}</h1>
        {% for course in courses %}
            <div>
                <input type="checkbox" id="course_{{ course.pk }}" name="courses" value="{{ course.pk }}">
                <label for="course_{{ course.pk }}">{{ course.name }}</label>
            </div>
        {% endfor %}

        <button type="submit">Assign</button>
    </form>
    <a href="{% url 'select_teacher' %}">Go Back</a>
{% endblock main %}

{% block footer %}
    {% include "dashboard/footer.html" %}
{% endblock footer %}
