{% extends "dashboard/index.html" %}

{% block title %} Select Course {% endblock title %}

{% block header %}
    {% include "dashboard/header.html" %}
{% endblock header %}

{% block sidenav %}
    {% include "teachers/sidenav.html" %}
{% endblock sidenav %}

{% block main %}
    <h1>Assign Course to {{ teacher.name }} for Class {{ class.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Assign</button>
    </form>
    <a href="{% url 'select_teacher' %}">Go Back</a>
{% endblock main %}

{% block footer %}
    {% include "dashboard/footer.html" %}
{% endblock footer %}
