{% extends "dashboard/index.html" %}

{% block title %} Select Teachers {% endblock title %}

{% block header %}
    {% include "dashboard/header.html" %}
{% endblock header %}

{% block sidenav %}
    {% include "teachers/sidenav.html" %}
{% endblock sidenav %}

{% block main %}
    <h1>Class-Course-Teacher Assignments</h1>
    <table>
        <thead>
            <tr>
                <th>Class</th>
                <th>Course</th>
                <th>Teacher</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.class_id.name }}</td>
                <td>
                    [
                    {% for course in assignment.courses.all %}
                        <code style="background-color: red;">{{ course }}</code>
                    {% endfor %}
                    ]
                </td>
                <td>{{ assignment.teacher_id.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main %}

{% block footer %}
    {% include "dashboard/footer.html" %}
{% endblock footer %}
