<div class="grid-container">
    <div class="grid-item" style="background-color: #7cb342;">
        <h2>All Teachers</h2>
        <p class="item-content"><a href="{% url "teacher_list" %}">list</a></p>
    </div>
    <div class="grid-item" style="background-color: #42a5f5;">
        <h2>Add Teacher</h2>
        <p class="item-content"><a href="{% url "teacher_create" %}">add</a></p>
    </div>
    <div class="grid-item" style="background-color: #8d6e63;">
        <h2>Assign Teachers to Classes</h2>
        <p class="item-content"><a href="{% url "teacher_assign2class" %}">assign to class</a></p>
    </div>
    <div class="grid-item" style="background-color: #0d6f63;">
        <h2>Assign Teachers to Courses</h2>
        <p class="item-content"></p>
    </div>
</div>