<div class="grid-container">
    <div class="grid-item" style="background-color: #7cb342;">
        <h2>Add Exams</h2>
        <p class="item-content"></p>
    </div>
    <div class="grid-item" style="background-color: #42a5f5;">
        <h2>Remove Exams</h2>
        <p class="item-content"></p>
    </div>
    <div class="grid-item" style="background-color: #ef5350;">
        <h2>Update Exams Info</h2>
        <p class="item-content"></p>
    </div>
    <div class="grid-item" style="background-color: #8d6e63;">
        <h2>Assign Exams to Classes</h2>
        <p class="item-content"></p>
    </div>
</div>