<div class="grid-container">
    <div class="grid-item" style="background-color: #7cb342;">
        <h2>All Students</h2>
        <p class="item-content"><a href="{% url "student_list" %}">view</a></p>
    </div>
    <div class="grid-item" style="background-color: #42a5f5;">
        <h2>Add Student</h2>
        <p class="item-content"><a href="{% url "student_create" %}">add</a></p>
    </div>
    <div class="grid-item" style="background-color: #8d6e63;">
        <h2>Assign Classes to students</h2>
        <p class="item-content"></p>
    </div>
</div>