{% extends "dashboard/index.html" %}

{% block title %} Students {% endblock title %}

{% block header %}
    {% include "dashboard/header.html" %}
{% endblock header %}

{% block sidenav %}
    {% include "students/sidenav.html" %}
{% endblock sidenav %}

{% block main %}
    <h1>Student Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock main %}

{% block footer %}
    {% include "dashboard/footer.html" %}
{% endblock footer %}
