{% extends "dashboard/index.html" %}

{% block title %} Students {% endblock title %}

{% block header %}
    {% include "dashboard/header.html" %}
{% endblock header %}

{% block sidenav %}
    {% include "students/sidenav.html" %}
{% endblock sidenav %}

{% block main %}
    <h1>Student Detail</h1>
    <p><strong>ID:</strong> {{ student.student_id }}</p>
    <p><strong>Name:</strong> {{ student.name }}</p>
    <p><strong>Registration No.:</strong> {{ student.registration_no }}</p>
    <p><strong>Email:</strong> {{ student.email }}</p>
    <p><strong>Phone:</strong> {{ student.phone }}</p>
    <a href="{% url 'student_list' %}">Back to Student List</a>
    <a href="{% url 'student_update' student.pk %}">Edit</a>
{% endblock main %}

{% block footer %}
    {% include "dashboard/footer.html" %}
{% endblock footer %}
